langchain_openai
unstructured_inference
sentence-transformers
langchain-groq
langchain-community
langchain
langchain-huggingface
langchain-chroma
chromadb
tiktoken
SpeechRecognition==3.10.0
openai-whisper==20231117